{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    {% if form.instance.id %}
        Update Expense
    {% else %}
        Create Expense
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if form.instance.id %}
            Update Expense
        {% else %}
            Create Expense
        {% endif %}
    </h1>

    <form method="post"
          novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">
            {% if form.instance.id %}
                Save
            {% else %}
                Create
            {% endif %}
        </button>
    </form>
{% endblock %}
