{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <h1>
        Expenses
    </h1>

    <table class="table table-hover table-sm">
        {% for object in object_list %}
            <tr class="{{ object.is_expensive|yesno:"expensive,cheap" }}">
                <td>{{ object.id }}</td>
                <td>
                    {{ object.amount }}
                    {{ object.is_expensive|yesno:"💸,🍪" }}
                </td>
                <td>
                    <a href="{% url "e:detail" object.id %}">
                        {{ object.title }}
                    </a>
                </td>
                <td>{{ object.category }}</td>
                <td>{{ object.date }}</td>
            </tr>
        {% endfor %}
    </table>

    {% bootstrap_pagination page_obj %}

{% endblock %}
