{% extends "base.html" %}

{% block title %}
    Create Expense
{% endblock %}

{% block content %}
    <div class="float-end">
        <form method="post" class="d-inline">
            {% csrf_token %}
            <button class="btn">
                {% if object.is_starred %}
                    <i class="bi-star-fill"></i>
                {% else %}
                    <i class="bi-star"></i>
                {% endif %}
            </button>
        </form>

        <a class="btn btn-primary"
           href="{% url "e:update" object.id %}">Edit</a>
        <a class="btn btn-danger me-1"
           href="{% url "e:delete" object.id %}">Delete</a>
    </div>
    <h1>
        Expense #{{ object.id }}: {{ object.title }}, ${{ object.amount }}
    </h1>
    <h2>
        Category: {{ object.category }}

        {% for tag in object.tags.all %}
            <span class="badge bg-black">
            {{ tag }}
            </span>
        {% endfor %}
    </h2>


    <ul>
        <li>Date:{{ object.date }}</li>
        <li>{{ object.description|linebreaksbr }}</li>
    </ul>

{% endblock %}
