{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    Delete Expense #{{ object.id }}
{% endblock %}

{% block content %}
    <h1>
        Delete Expense #{{ object.id }}
    </h1>

    Are you sure you want to delete expense {{ object.title }} (${{ object.amount }})?

    <form method="post"
          novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-danger">
            Delete
        </button>
    </form>
{% endblock %}
