{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}

    <h1>
        Expenses
    </h1>

    <table class="table table-hover table-sm">
        {% for object in object_list %}
            <tr class="{{ object.is_expensive|yesno:"expensive,cheap" }}">
                <td>#{{ object.id }}</td>
                <td>
                    ${{ object.amount }}
                    <form method="post"
                          action="{{ object.get_absolute_url }}"
                          class="d-inline">
                        {% csrf_token %}
                        <button class="btn btn-sm">
                            {% if object.is_starred %}
                                <i class="bi-star-fill"></i>
                            {% else %}
                                <i class="bi-star"></i>
                            {% endif %}
                        </button>
                    </form>

                </td>
                <td>
                    <a href="{% url "e:detail" object.id %}">
                        {{ object.title }}
                    </a>
                </td>
                <td>
                    <button class="likes btn btn-primary btn-sm">
                        Like
                        <span class="counter">0</span>
                    </button>

                </td>
                <td>{{ object.category }}</td>
                <td>{{ object.date }}</td>
            </tr>
        {% endfor %}
    </table>


    {% bootstrap_pagination page_obj %}

{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/expense_list.js' %}"
            type="module"></script>
{% endblock %}

